# Python bytecode
__pycache__

# Directories
build
dist
viper.egg-info

# Files
*.pyc
*.pem
*.pem
*.crt
*.key
*test.py

# Editor directories and files
*.vscode/*
!*.code-workspace

# Misc
.DS_Store
makefile
